body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    margin: 20px;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
}
div{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
input{
    padding: 1px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.buttons{
    display: flex;
    justify-content: center;
}
label{
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}
input[type=reset]{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}