*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    height: 100vh;
}
h1{
    background-color: antiquewhite;
    color: blue;
    padding: 10px;
    text-align: center;
}
.input{
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
}
.selection{
    margin: 10px;
    padding: 15px;
    border: 1px solid gray;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#result{
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    font-weight: bold;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}