*{
    text-align: center;
}
table{
    border-collapse: collapse;
}
th,
td{
    border: 2px solid black;
    padding: 10px;
}
th{
    background-color: lightblue;
}
tfoot{
    background-color: lightblue;
}
tr:nth-child(even){
    background-color: rgb(205, 230, 205);
}
tr:nth-child(odd){
    background-color: rgb(235, 213, 232);
}
.lab{
    background-color: rgb(211, 235, 211);
}
.elective{
    background-color: rgb(219, 193, 193);
}
